




.contact-main-header {
    
}

.contact-flex {
    display: flex;
    justify-content: space-between;
}

.contact-form {
  display: flex;
    flex-direction: column;
    width: 65%;
    background-color: $iceBlue;
    padding: 40px;
    box-shadow: 15px 15px $greenishCyan;
    margin-top: -75px;
    margin-bottom: 100px;
    form {
        input {
            width: calc(50% - 2px);
            margin-bottom: 25px;
        }
        textarea {
            width: 100%;
            margin-bottom: 25px;
        }
        button {
            width: 100%;
            margin-bottom: 50px;
        }
    }
}

.contact-form-right-containter {

    ul {
        li {
            display: inline-block;    
        }
        a {
            color: $black;
            font-size: 3rem;
        } 
    }

}

.contact-info {
    address {
        p:first-child {
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}