
.home {
    header {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../../assets/home-image-1.jpg);
    }
}

.header-text {
    position: relative;
}

.home-main-header {
    position: absolute;
    z-index: 2;
    left: 25%;
    top: 230px;
    h3 {
        margin: 0;
    }
    h1 {
        margin: 0;
    }
}

.header-img-container {    
    position: absolute;
    width: 600px;
    top: 20%;
}

.visit-guyana {
    background-color: $iceBlue;
    padding: 175px 0 75px;
}

.visit-guyana-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visit-guyana-content-container {
    width: 60%;
    margin-right: 40px;
    h4 {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 50px;
    }
}

.visit-guyana-img-container {
    flex-shrink: 0;
    box-shadow: -15px 15px $greenishCyan;
}

.gallery {
    background-color: $lightLightBlue;
    padding: 75px 0;
}

.gallery-images {
        display: flex;
        justify-content: space-between;
        li {
            flex-basis: 30%;
            img {
                transition: .8s;
                &:hover {
                    color: $greenishCyan;
                    transform: scale(1.1);
                    box-shadow: -15px 15px $greenishCyan;
                }   
                &:focus {
                    color: $greenishCyan;
                    transform: scale(1.1);
                    box-shadow: -15px 15px $greenishCyan;
            }
        }
    }
}


.links {
    background-color: $iceBlue;
    padding: 75px 0 100px;
}

.links-grid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 8fr;
    grid-template-rows: 40px 200px 40px 200px;
    i {
        background-color: $greenishCyan;
        color: $iceBlue;
        margin: auto;
        padding: 10px;
        border-radius: 50%;
    }
    h6 {
        margin: auto 10px;
    }
    p {
        margin-left: 10px;
    }
    .grid-i-1 {
        @include grid(1, 1)
    }
    .grid-h-1 {
        @include grid(1, 2)
    }
    .grid-p-1 {
        @include grid(2, 2)
    }
    .grid-i-2 {
        @include grid(1, 3)
    }
    .grid-h-2 {
        @include grid(1, 4)
    }
    .grid-p-2 {
        @include grid(2, 4)
    }
    .grid-i-3 {
        @include grid(3, 1)
    }
    .grid-h-3 {
        @include grid(3, 2)
    }
    .grid-p-3 {
        @include grid(4, 2) 
    }
    .grid-i-4 {
        @include grid(3, 3)
    }
    .grid-h-4 {
        @include grid(3, 4)
    }
    .grid-p-4 {
        @include grid(4, 4)
    }
}

.more-info {
    background-color: $lightLightBlue;
    padding: 100px 0;
}


.more-info-flex {
    display: flex;
    justify-content: space-between;
    max-width: 1900px;
    margin: 0 auto;
}

.more-info-column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .more-info-img-container-left {
        width: 90%;
        margin-top: -30%;
        img {
            box-shadow: 15px 15px $greenishCyan;
        }
    
    }
    .more-info-content-left {
        width: 600px;
        margin-top: 10%;
        
        text-align: right;
        h6 {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 40px;
            margin-left: 75px;
        }
    }
}

.more-info-column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .more-info-img-container-right {
        width: 90%;
        margin-bottom: -25%;
        img {
            box-shadow: -15px 15px $greenishCyan;
        }
    }
    .more-info-content-right {
        width: 600px;  
        margin-top: -10px;
        h6 {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 40px;
        }
    }
}

.banner-img {
    background: url(../../assets/banner-image.jpg);
    background-position: center;
    margin: -50px auto 10px;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
}

.free-trip {
    background-color: $iceBlue;    
}

.free-trip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: 150px auto;
    h6 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 40px;
    }
}