.home {
    header {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../assets/home-image-1.jpg);
    }
}

.header-text {
    position: relative;
}

.home-main-header {
    position: absolute;
    z-index: 2;
    left: 25%;
    top: 230px;
    h3 {
        margin: 0;
    }
    h1 {
        margin: 0;
    }
}

.header-img-container {    
    position: absolute;
    width: 500px;
    top: 20%;
}

.visit-guyana {
    background-color: $iceBlue;
    padding: 175px 0 75px;
}

.visit-guyana-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visit-guyana-content-container {
    width: 60%;
    margin-right: 40px;
    h4 {
        margin: 20px 0;
    }
    p {
        margin-bottom: 50px;
    }
}

.visit-guyana-img-container {
    box-shadow: -15px 15px $greenishCyan;
}

.gallery {
    background-color: $lightLightBlue;
    padding: 75px 0;
}

.gallery-images {
        display: flex;
        justify-content: space-between;
        li {
            flex-basis: 30%;
            img {
                transition: .8s;
                &:hover {
                    color: $greenishCyan;
                    transform: scale(1.1);
                    box-shadow: -15px 15px $greenishCyan;
                }   
                &:focus {
                    color: $greenishCyan;
                    transform: scale(1.1);
                    box-shadow: -15px 15px $greenishCyan;
            }
        }
    }
}

.links {
    background-color: $iceBlue;
    padding: 75px 0 100px;
}

.links-flex {
    display: flex;
    flex-wrap: wrap;
}

.links-container {
    width: 50%;
    margin-bottom: 75px;
    p {
        margin-left: 70px;
    }
    h6 {
        font-weight: bold;
    }
}

.links-container-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    i {
        background-color: $greenishCyan;
        color: $iceBlue;
        padding: 12px;
        border-radius: 50%;
        margin-right: 25px
    }
    a {
        color: $spruce;
        &:hover {
            cursor: pointer;
            background-color: $transparent;
            color: $greenishCyan;
        }
        &:focus {
            cursor: pointer;
            background-color: $transparent;
            color: $greenishCyan;
        }
    }
}

.more-info {
    background-color: $lightLightBlue;
    padding: 100px 0;
}


.more-info-flex {
    display: flex;
    justify-content: space-between;
    max-width: 1900px;
    margin: 0 auto;
}

.more-info-column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .more-info-img-container-left {
        width: 90%;
        margin-top: -30%;
        img {
            box-shadow: 15px 15px $greenishCyan;
        }
    }
    .more-info-content-left {
        width: 600px;
        margin-top: 20%;
        text-align: right;
        h6 {
            margin-bottom: 10px;
        }
        
    }
}

.text-left {
    margin-bottom: 40px;
    margin-left: 75px;
}

.text-right {
    margin-bottom: 40px;
    margin-right: 75px;
}

.more-info-column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .more-info-img-container-right {
        width: 90%;
        margin-bottom: -25%;
        img {
            box-shadow: -15px 15px $greenishCyan;
        }
    }
    .more-info-content-right {
        width: 600px;  
        margin-top: -10px;
        h6 {
            margin-bottom: 10px;
        }
    }
}

.more-info-link {
    @include font($playfair, calc(.65rem + .65vw), calc(1rem + 1vw), calc(.031rem + .031vw));
    background-color: $twilightBlue;
    padding: 10px;
}

.banner-img-container {
    background: linear-gradient($lightLightBlue, $iceBlue);
}

.banner-img {
    background: url(../assets/banner-image.jpg);
    background-position: center;
    background-size: 100%;
    margin: -50px auto 0;
    height: 600px;
    background-repeat: no-repeat;
}

.free-trip {
    background-color: $iceBlue;    
}

.free-trip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: 100px auto;
    h6 {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 40px;
    }
}