$playfair: 'Playfair Display SC', serif;
$lato: 'Lato', sans-serif;
$transparent:rgba(0, 0, 0, 0.0);

@mixin font($font-family, $font-size, $color: $black, $letter-spacing: auto, $line-height: auto) {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

@mixin grid($grid-row, $grid-column) {
    grid-row: $grid-row;
    grid-column: $grid-column;
}

.logo {
    @include font($playfair, calc(1.1rem + 1.1vw), $greenishCyan)
}
   
h1 {
    @include font($playfair, calc(3.2rem + 3.2vw), $twilightBlue)
}

h2 {
    @include font($lato, calc(2.2rem + 2.2vw), $lightLightBlue, calc(.18rem + .18vw), calc(1.8rem + 1.8vw))
}

h3 {
    @include font($lato, calc(2rem + 2vw), $spruce, calc(.18rem + .18vw), calc(1.8rem + 1.8vw));
    margin: 0;
    padding: 0;
}

h4 {
    @include font($lato, calc(1.1rem + 1.1vw), $spruce, calc(.1rem + .1vw));
    margin: 0;
    padding: 0;
}
   
h6 {
    @include font($lato, calc(1rem + 1vw), $spruce, calc(.09rem + .09vw), calc(1rem + 1vw));
    margin: 0;
    padding: 0;
}

p {
    @include font($lato, calc(.6rem + .6vw), $black, calc(.06rem + .06vw), calc(1rem + 1vw))
}

a {
    text-decoration: none;
    color: $iceBlue;
    &:hover {
        background-color: $greenishCyan;
    }   
    &:focus {
        background-color: $greenishCyan;
    }
}

img {
    width: 100%;
}

button {
    @include font($playfair, calc(.65rem + .65vw), $iceBlue, calc(.031rem + .031vw), calc(1rem + 1vw));
    background-color: $twilightBlue;
    border: none;
    padding: 5px;
}

form {
    input {
        padding-bottom: 25px;
        border: none;
        border-bottom: 2px solid $greenishCyan;
    }
    textarea {
        font-family: $lato;
        border: 2px solid $greenishCyan;
    }
    label {
        position: absolute; 
        left: -999rem;
    }
}

header {
    height: 60vh;
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat
}

nav {
    ul {
        @include font($lato, calc(.65rem + .65vw), $black, calc(.031rem + .031vw), calc(.9rem + .9vw));
        display: flex;
        list-style-type: none;
        li {
            margin-left: 50px;
        }
        a {
            display: inline-block;
            color: $iceBlue;
            transition: .2s;
            &:hover {
                background-color: $transparent;
                color: $greenishCyan;
                transform: scale(1.2)
            }   
            &:focus {
                background-color: $transparent;
                color: $greenishCyan;
                transform: scale(1.2);
            }
        }
    }
}

footer {
    background-color: $black;
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    p {
        color: $iceBlue;
    }
    a {
        &:hover {
            background-color: $transparent;
        }
        &:focus {
            background-color: $transparent;
        }
    }
}

.wrapper {
    max-width: 1080px;
    width: 70%;
    margin: 0 auto;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

@media (max-width: 768px) {

    html {
        font-size: 120%;   
    }
    .logo-nav-container {
        p {
            margin-bottom: 20px;
        }
        nav {
            ul {
                li {
                    margin-left: 50px;
                    &:first-child {
                        margin-left: 0;
                    }
                }          
            }
        }
        .logo-nav-container {
            flex-direction: column;
            p {
                margin-bottom: 25px;
            }
        }
    }
}