$playfair: 'Playfair Display SC', serif;
$lato: 'Lato', sans-serif;

@mixin font($font-family, $font-size, $color: $black, $letter-spacing: auto, $line-height: auto) {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

@mixin grid($grid-row, $grid-column) {
    grid-row: $grid-row;
    grid-column: $grid-column;
}

.logo {
    @include font($playfair, 2.1rem, $greenishCyan)
}
   
h1 {
    @include font($playfair, 7em, $twilightBlue)
}

h2 {
    @include font($lato, 5.5rem, $lightLightBlue, 6.7px, 58px)
}

h3 {
    @include font($lato, 3.9rem, $spruce, 6.7px, 58px);
    margin: 0;
    padding: 0;
}

h4 {
    @include font($lato, 2.2rem, $spruce, 3.8px);
    margin: 0;
    padding: 0;
}
   
h6 {
    @include font($lato, 1.9rem, $spruce, 3.2px, 32px);
    margin: 0;
    padding: 0;
}

p {
    @include font($lato, 1.3rem, $black, 2px, 32px)
}

a {
    text-decoration: none;
    color: $iceBlue;
}

img {
    width: 100%;
}

button {
    @include font($playfair, 1.3rem, $iceBlue, 1px, 32px);
    background-color: $twilightBlue;
    border: none;
    padding: 5px;
}

form {
    input {
        padding-bottom: 25px;
        border: none;
        border-bottom: 2px solid $greenishCyan;
    }
 
    textarea {
        font-family: $lato;
        border: 2px solid $greenishCyan;
    }
    label {
        position: absolute; 
        left: -999rem;
    }
}

header {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

nav {
    ul {
        @include font($lato, 1.3rem, $black, 1px, 29px);
        display: flex;
        list-style-type: none;
        li {
            margin-left: 50px;
        }
        a {
            display: inline-block;
            color: $iceBlue;
            transition: .2s;
            &:hover {
                color: $greenishCyan;
                transform: scale(1.2)
            }   
            &:focus {
                color: $greenishCyan;
                transform: scale(1.2);
            }
        }
    }
}

footer {
    background-color: $black;
    text-align: center;
    padding: 5px;
    p {
        color: $iceBlue;
    }
}


.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.contact {
    header {
        background-image: url(../../assets/contact-image-1.jpg)
    }
}


/* find a better place for what's below!!!! */

.more-info-link {
    @include font($playfair, 1.3rem, 32px, 1px);
    background-color: $twilightBlue;
    padding: 10px;
}
