a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 90%;
}

.logo {
  font-family: "Playfair Display SC", serif;
  font-size: 2.1rem;
  color: #50E3C2;
  letter-spacing: auto;
  line-height: auto;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 7em;
  color: #063974;
  letter-spacing: auto;
  line-height: auto;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 5.5rem;
  color: #D2F9F1;
  letter-spacing: 6.7px;
  line-height: 58px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 3.9rem;
  color: #0C5F4C;
  letter-spacing: 6.7px;
  line-height: 58px;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  color: #0C5F4C;
  letter-spacing: 3.8px;
  line-height: auto;
  margin: 0;
  padding: 0;
}

h6 {
  font-family: "Lato", sans-serif;
  font-size: 1.9rem;
  color: #0C5F4C;
  letter-spacing: 3.2px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  color: #2C2C2C;
  letter-spacing: 2px;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: #FAFFFE;
}

img {
  width: 100%;
}

button {
  font-family: "Playfair Display SC", serif;
  font-size: 1.3rem;
  color: #FAFFFE;
  letter-spacing: 1px;
  line-height: 32px;
  background-color: #063974;
  border: none;
  padding: 5px;
}

form input {
  padding-bottom: 25px;
  border: none;
  border-bottom: 2px solid #50E3C2;
}

form textarea {
  font-family: "Lato", sans-serif;
  border: 2px solid #50E3C2;
}

form label {
  position: absolute;
  left: -999rem;
}

header {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav ul {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  color: #2C2C2C;
  letter-spacing: 1px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 50px;
}

nav ul a {
  display: inline-block;
  color: #FAFFFE;
  -webkit-transition: .2s;
  transition: .2s;
}

nav ul a:hover {
  color: #50E3C2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav ul a:focus {
  color: #50E3C2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  background-color: #2C2C2C;
  text-align: center;
  padding: 5px;
}

footer p {
  color: #FAFFFE;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.logo-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.contact header {
  background-image: url(../../assets/contact-image-1.jpg);
}

/* find a better place for what's below!!!! */
.more-info-link {
  font-family: "Playfair Display SC", serif;
  font-size: 1.3rem;
  color: 32px;
  letter-spacing: 1px;
  line-height: auto;
  background-color: #063974;
  padding: 10px;
}

.home header {
  background-image: url(../../assets/home-image-1.jpg);
}

.header-text {
  position: relative;
}

.main-header {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 25%;
}

.main-header h3 {
  margin: 0;
}

.main-header h1 {
  margin: 0;
}

.header-img-container {
  position: absolute;
  z-index: 0;
  width: 650px;
  top: 35%;
}

.visit-guyana {
  background-color: #FAFFFE;
  padding: 175px 0 75px;
}

.visit-guyana-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit-guyana-content-container {
  width: 60%;
  margin-right: 40px;
}

.visit-guyana-img-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.gallery {
  background-color: #D2F9F1;
  padding: 75px 0;
}

.gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-images li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.gallery-images li img {
  -webkit-transition: .8s;
  transition: .8s;
}

.gallery-images li img:hover {
  color: #50E3C2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.gallery-images li img:focus {
  color: #50E3C2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.links {
  background-color: #FAFFFE;
  padding: 75px 0 100px;
}

.links-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr 8fr;
      grid-template-columns: 1fr 8fr 1fr 8fr;
  -ms-grid-rows: 40px 200px 40px 200px;
      grid-template-rows: 40px 200px 40px 200px;
}

.links-grid i {
  background-color: #50E3C2;
  color: #FAFFFE;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
}

.links-grid h6 {
  margin: auto 10px;
}

.links-grid p {
  margin-left: 10px;
}

.links-grid .grid-i-1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.links-grid .grid-h-1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.links-grid .grid-p-1 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.links-grid .grid-i-2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.links-grid .grid-h-2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
}

.links-grid .grid-p-2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
}

.links-grid .grid-i-3 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.links-grid .grid-h-3 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.links-grid .grid-p-3 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

.links-grid .grid-i-4 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

.links-grid .grid-h-4 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
}

.links-grid .grid-p-4 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 4;
  grid-column: 4;
}

.more-info {
  background-color: #D2F9F1;
  padding: 50px 0 75px 0;
}

.more-info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.more-info-img-container1 {
  position: relative;
  width: 700px;
}

.more-info-img-container1 img {
  position: absolute;
  top: -35%;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.more-info-content-1 {
  width: 700px;
  margin-bottom: 50px;
}

.more-info-content-1 p {
  margin: 10px 75px 30px 0;
}

.more-info-img-container-2 {
  position: relative;
  width: 700px;
}

.more-info-img-container-2 img {
  position: absolute;
  top: 35%;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.more-info-content-2 {
  width: 700px;
  margin-top: 150px;
  text-align: right;
}

.more-info-content-2 p {
  margin: 10px 0 30px 75px;
}

.free-trip {
  background-color: #D2F9F1;
  padding-bottom: 100px;
}

.free-trip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8% 20% 0 20%;
  text-align: center;
}

.blog header {
  background-image: url(../../assets/blog-image-1.jpg);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-main-header {
  color: #D2F9F1;
  margin-top: 300px;
}

.blog-post {
  color: #D2F9F1;
}

.blog-post-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 70%;
  margin: -175px 0 50px;
  border-right: 5px solid #50E3C2;
  border-bottom: 5px solid #50E3C2;
}

.blog-post-image-container img {
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.blog-post-container {
  margin-top: 50px;
  background-color: #FAFFFE;
}

.blog-post-container h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-post-container article p:last-child {
  margin-bottom: 50px;
}

.blog-author {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  color: #063974;
  letter-spacing: 0.2px;
  line-height: auto;
  color: #063974;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.blog-author span {
  font-weight: bold;
}

.blog-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 150px;
}

.blog-right h6 {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #063974;
  letter-spacing: 2.8px;
  line-height: auto;
  font-weight: bold;
  margin: 15px 0;
}

.blog-right-container a {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  color: #0C5F4C;
  letter-spacing: 2px;
  line-height: 38px;
  font-weight: bold;
}

.recent-posts ul li {
  padding-left: 25px;
  position: relative;
}

.recent-posts ul a {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  color: #2C2C2C;
  letter-spacing: 2px;
  line-height: 32px;
}

.recent-posts ul li::before {
  position: absolute;
  content: '\2022';
  color: #50E3C2;
  display: inline-block;
  font-size: 2rem;
  left: 0;
}

.comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.comments-container h6 {
  color: #2C2C2C;
  font-weight: bold;
  margin-bottom: 50px;
}

.comments-container .comments-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.comments-container .comments-post-img-container {
  margin: 6px 50px 0 0;
}

.comments-container .comments-img-1 {
  width: 350px;
}

.comments-container .comments-img-2 {
  width: 250px;
}

.comments-container .comments-post-text p:first-child {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  color: #063974;
  letter-spacing: 2px;
  line-height: 32px;
  font-weight: bold;
}

.comments-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  position: relative;
  margin-bottom: 100px;
}

.comments-form form input {
  width: calc(50% - 2px);
  margin-bottom: 25px;
}

.comments-form form textarea {
  width: 100%;
  margin-bottom: 25px;
}

.comments-form form button {
  width: 100%;
  margin-bottom: 100px;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  position: relative;
  padding: 40px;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
  margin-bottom: 100px;
}

.contact-form form input {
  width: calc(50% - 2px);
  margin-bottom: 25px;
}

.contact-form form textarea {
  width: 100%;
  margin-bottom: 25px;
}

.contact-form form button {
  width: 100%;
  margin-bottom: 50px;
}

.contact-form-right-containter ul li {
  display: inline-block;
}

.contact-form-right-containter ul a {
  color: #2C2C2C;
  font-size: 3rem;
}

.contact-info address p:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}
