a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.logo {
  font-family: "Playfair Display SC", serif;
  font-size: calc(1.1rem + 1.1vw);
  color: #50E3C2;
  letter-spacing: auto;
  line-height: auto;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: calc(3.2rem + 3.2vw);
  color: #063974;
  letter-spacing: auto;
  line-height: auto;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: calc(2.2rem + 2.2vw);
  color: #D2F9F1;
  letter-spacing: calc(.18rem + .18vw);
  line-height: calc(1.8rem + 1.8vw);
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: calc(2rem + 2vw);
  color: #0C5F4C;
  letter-spacing: calc(.18rem + .18vw);
  line-height: calc(1.8rem + 1.8vw);
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: calc(1.1rem + 1.1vw);
  color: #0C5F4C;
  letter-spacing: calc(.1rem + .1vw);
  line-height: auto;
  margin: 0;
  padding: 0;
}

h6 {
  font-family: "Lato", sans-serif;
  font-size: calc(1rem + 1vw);
  color: #0C5F4C;
  letter-spacing: calc(.09rem + .09vw);
  line-height: calc(1rem + 1vw);
  margin: 0;
  padding: 0;
}

p {
  font-family: "Lato", sans-serif;
  font-size: calc(.6rem + .6vw);
  color: #2C2C2C;
  letter-spacing: calc(.06rem + .06vw);
  line-height: calc(1rem + 1vw);
}

a {
  text-decoration: none;
  color: #FAFFFE;
}

a:hover {
  background-color: #50E3C2;
}

a:focus {
  background-color: #50E3C2;
}

img {
  width: 100%;
}

button {
  font-family: "Playfair Display SC", serif;
  font-size: calc(.65rem + .65vw);
  color: #FAFFFE;
  letter-spacing: calc(.031rem + .031vw);
  line-height: calc(1rem + 1vw);
  background-color: #063974;
  border: none;
  padding: 5px;
}

form input {
  padding-bottom: 25px;
  border: none;
  border-bottom: 2px solid #50E3C2;
}

form textarea {
  font-family: "Lato", sans-serif;
  border: 2px solid #50E3C2;
}

form label {
  position: absolute;
  left: -999rem;
}

header {
  height: 60vh;
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
}

.fa-bars {
  visibility: hidden;
  color: #FAFFFE;
  font-size: 2rem;
  margin-right: 20px;
}

nav ul {
  font-family: "Lato", sans-serif;
  font-size: calc(.65rem + .65vw);
  color: #2C2C2C;
  letter-spacing: calc(.031rem + .031vw);
  line-height: calc(.9rem + .9vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 50px;
}

nav ul a {
  display: inline-block;
  color: #FAFFFE;
  -webkit-transition: .2s;
  transition: .2s;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #50E3C2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav ul a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #50E3C2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  background-color: #2C2C2C;
  text-align: center;
  margin-top: 50px;
  padding: 5px;
}

footer p {
  color: #FAFFFE;
}

footer a:hover {
  background-color: rgba(0, 0, 0, 0);
}

footer a:focus {
  background-color: rgba(0, 0, 0, 0);
}

.wrapper {
  max-width: 1080px;
  width: 70%;
  margin: 0 auto;
}

.logo-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

@media (max-width: 768px) {
  html {
    font-size: 120%;
  }
  .logo-nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-nav-container p {
    margin-bottom: 20px;
  }
  .logo-nav-container nav ul li {
    margin-left: 50px;
  }
  .logo-nav-container nav ul li:first-child {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .logo-nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo-nav-container nav {
    display: none;
  }
  .fa-bars {
    visibility: visible;
    color: #FAFFFE;
    font-size: 2rem;
  }
}

.home header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(../assets/home-image-1.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../assets/home-image-1.jpg);
}

.header-text {
  position: relative;
}

.home-main-header {
  position: absolute;
  z-index: 2;
  left: 25%;
  top: 230px;
}

.home-main-header h3 {
  margin: 0;
}

.home-main-header h1 {
  margin: 0;
}

.header-img-container {
  position: absolute;
  width: 500px;
  top: 20%;
}

.visit-guyana {
  background-color: #FAFFFE;
  padding: 175px 0 75px;
}

.visit-guyana-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit-guyana-content-container {
  width: 60%;
  margin-right: 40px;
}

.visit-guyana-content-container h4 {
  margin: 20px 0;
}

.visit-guyana-content-container p {
  margin-bottom: 50px;
}

.visit-guyana-img-container {
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.gallery {
  background-color: #D2F9F1;
  padding: 75px 0;
}

.gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-images li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.gallery-images li img {
  -webkit-transition: .8s;
  transition: .8s;
}

.gallery-images li img:hover {
  color: #50E3C2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.gallery-images li img:focus {
  color: #50E3C2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.links {
  background-color: #FAFFFE;
  padding: 75px 0 100px;
}

.links-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-container {
  width: 50%;
  margin-bottom: 75px;
}

.links-container p {
  margin-left: 70px;
}

.links-container h6 {
  font-weight: bold;
}

.links-container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.links-container-title i {
  background-color: #50E3C2;
  color: #FAFFFE;
  padding: 12px;
  border-radius: 50%;
  margin-right: 25px;
}

.links-container-title a {
  color: #0C5F4C;
}

.links-container-title a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #50E3C2;
}

.links-container-title a:focus {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #50E3C2;
}

.more-info {
  background-color: #D2F9F1;
  padding: 100px 0;
}

.more-info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1900px;
  margin: 0 auto;
}

.more-info-column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more-info-column-left .more-info-img-container-left {
  width: 90%;
  margin-top: -30%;
}

.more-info-column-left .more-info-img-container-left img {
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.more-info-column-left .more-info-content-left {
  width: 600px;
  margin-top: 20%;
  text-align: right;
}

.more-info-column-left .more-info-content-left h6 {
  margin-bottom: 10px;
}

.text-left {
  margin-bottom: 40px;
  margin-left: 75px;
}

.text-right {
  margin-bottom: 40px;
  margin-right: 75px;
}

.more-info-column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more-info-column-right .more-info-img-container-right {
  width: 90%;
  margin-bottom: -25%;
}

.more-info-column-right .more-info-img-container-right img {
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.more-info-column-right .more-info-content-right {
  width: 600px;
  margin-top: -10px;
}

.more-info-column-right .more-info-content-right h6 {
  margin-bottom: 10px;
}

.more-info-link {
  font-family: "Playfair Display SC", serif;
  font-size: calc(.65rem + .65vw);
  color: calc(1rem + 1vw);
  letter-spacing: calc(.031rem + .031vw);
  line-height: auto;
  background-color: #063974;
  padding: 10px;
}

.banner-img-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#D2F9F1), to(#FAFFFE));
  background: linear-gradient(#D2F9F1, #FAFFFE);
}

.banner-img {
  background: url(../assets/banner-image.jpg);
  background-position: center;
  background-size: 100%;
  margin: -50px auto 0;
  height: 600px;
  background-repeat: no-repeat;
}

.free-trip {
  background-color: #FAFFFE;
}

.free-trip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 75%;
  margin: 100px auto;
}

.free-trip-container h6 {
  margin-bottom: 30px;
}

.free-trip-container p {
  margin-bottom: 40px;
}

.blog header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0))), url(../assets/blog-image-1.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../assets/blog-image-1.jpg);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-main-header {
  color: #D2F9F1;
  margin-top: 175px;
}

.blog-post {
  color: #D2F9F1;
}

.blog-post-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  margin: -175px 0 50px;
  border-right: 3px solid #50E3C2;
  border-bottom: 3px solid #50E3C2;
}

.blog-post-img-container {
  width: 99%;
  margin-top: -5%;
}

.blog-post-img-container img {
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.blog-post-container {
  margin-top: 50px;
  background-color: #FAFFFE;
}

.blog-post-container h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-post-container article p:last-child {
  margin-bottom: 50px;
}

.blog-author {
  font-family: "Lato", sans-serif;
  font-size: calc(.6rem + .6vw);
  color: #063974;
  letter-spacing: 0.2px;
  line-height: auto;
  color: #063974;
  font-style: italic;
  margin-bottom: 25px;
}

.blog-author span {
  font-weight: bold;
}

.blog-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  margin-top: 150px;
}

.blog-right h6 {
  font-family: "Lato", sans-serif;
  font-size: calc(.7rem + .7vw);
  color: #063974;
  letter-spacing: calc(.062rem + .062vw);
  line-height: auto;
  font-weight: bold;
  margin: 15px 0;
}

.blog-right-container a {
  font-family: "Lato", sans-serif;
  font-size: calc(.65rem + .65vw);
  color: #0C5F4C;
  letter-spacing: calc(.062rem + .062vw);
  line-height: calc(1.18rem + 1.18vw);
  font-weight: bold;
}

.blog-right-container a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #50E3C2;
}

.blog-right-container a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #50E3C2;
}

.recent-posts ul li {
  padding-left: 25px;
  position: relative;
}

.recent-posts ul a {
  font-family: "Lato", sans-serif;
  font-size: calc(.65rem + .65vw);
  color: #2C2C2C;
  letter-spacing: calc(.062rem + .062vw);
  line-height: calc(1rem + 1vw);
}

.recent-posts ul a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #50E3C2;
}

.recent-posts ul a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #50E3C2;
}

.recent-posts ul li::before {
  position: absolute;
  content: '\2022';
  color: #50E3C2;
  display: inline-block;
  font-size: calc(1rem + 1vw);
  left: 0;
}

.comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.comments-container h6 {
  color: #2C2C2C;
  font-weight: bold;
  margin-bottom: 50px;
}

.comments-container .comments-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.comments-container .comments-post-img-container {
  margin: 6px 50px 0 0;
}

.comments-container .comments-img-1 {
  width: 350px;
}

.comments-container .comments-img-2 {
  width: 250px;
}

.comments-container .comments-post-text p:first-child {
  font-family: "Lato", sans-serif;
  font-size: calc(.65rem + .65vw);
  color: #063974;
  letter-spacing: calc(.062rem + .062vw);
  line-height: calc(1rem + 1vw);
  font-weight: bold;
}

.comments-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 55%;
  position: relative;
  margin-bottom: 100px;
}

.comments-form form input {
  width: calc(50% - 2px);
  margin-bottom: 25px;
}

.comments-form form textarea {
  width: 100%;
  margin-bottom: 25px;
}

.comments-form form button {
  width: 100%;
  margin-bottom: 100px;
}

.contact-wrapper {
  max-width: 1080px;
  width: 70%;
  margin: 0 auto;
}

.contact {
  background-color: #FAFFFE;
}

.contact header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0))), url(../assets/contact-image-1.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../assets/contact-image-1.jpg);
}

.contact-main-header {
  margin-top: 320px;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  background-color: #FAFFFE;
  padding: 40px;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
  margin: -80px 0 100px -15px;
}

.contact-form form input {
  width: calc(50% - 2px);
  margin-bottom: 25px;
}

.contact-form form textarea {
  width: 100%;
  margin-bottom: 25px;
}

.contact-form form button {
  width: 100%;
  margin-bottom: 50px;
}

.contact-form-right-container {
  margin: 100px 0 0 40px;
}

.contact-form-right-container ul {
  margin-bottom: 20px;
}

.contact-form-right-container ul li {
  display: inline-block;
}

.contact-form-right-container ul a {
  padding-right: 20px;
}

.contact-form-right-container ul a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.contact-form-right-container ul a:focus {
  background-color: rgba(0, 0, 0, 0);
}

.fab {
  width: 15px;
  color: #2C2C2C;
  font-size: calc(.9rem + .9vw);
}

.fab:hover {
  color: #50E3C2;
}

.fab:focus {
  color: #50E3C2;
}

.contact-info address h6 {
  color: #2C2C2C;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .more-info-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .more-info-column-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .more-info-column-left .more-info-img-container-left {
    width: 100%;
    margin-top: -30%;
  }
  .more-info-column-left .more-info-content-left {
    margin-top: 10%;
  }
  .more-info-column-left .more-info-content-left a {
    margin: 0 auto;
  }
  .more-info-column-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .more-info-column-right .more-info-img-container-right {
    width: 100%;
    margin-top: 15%;
    margin-bottom: -30%;
  }
  .more-info-column-right .more-info-content-right {
    margin-top: 10%;
  }
  .free-trip-container {
    margin-top: 0;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .home-main-header {
    left: -5%;
    top: 200px;
  }
  .visit-guyana {
    padding: 100px 0 50px;
  }
  .visit-guyana-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .visit-guyana-img-container {
    display: none;
  }
  .visit-guyana-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .visit-guyana-content-container h4 {
    text-align: center;
    margin-bottom: 30px;
  }
  .visit-guyana-content-container a {
    width: 40%;
    text-align: center;
  }
  .links-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .links-container-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links-container-title i {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .links-container {
    width: 100%;
    text-align: center;
  }
  .links-container p {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .header-img-container {
    display: none;
  }
  .visit-guyana {
    padding: 50px 0 50px;
  }
  .gallery-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-images li {
    margin-bottom: 75px;
  }
  .banner-img-container {
    display: none;
  }
  .free-trip-container {
    margin: 200px auto;
  }
}

@media (max-width: 650px) {
  .home-main-header {
    top: 150px;
  }
  .home-main-header h3 {
    font-size: 2.5rem;
  }
  .home-main-header h1 {
    font-size: 3rem;
  }
  .more-info-content-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10%;
    text-align: center;
  }
  .text-left {
    text-align: center;
    margin: 0 100px 25px;
  }
  .text-right {
    margin: 0 100px 25px;
  }
  .more-info-content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 10%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .home-main-header {
    top: 150px;
  }
  .home-main-header h3 {
    font-size: 2rem;
  }
  .home-main-header h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 1000px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .blog-right-img-container {
    display: none;
  }
  .blog-right-container {
    margin-bottom: 50px;
    width: 80%;
  }
  .recent-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: -20px;
  }
  .recent-posts h6 {
    margin-right: 20px;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .comments-container {
    background-color: #D2F9F1;
    padding: 20px 0;
    max-width: 100%;
  }
  .comments-form {
    max-width: 100%;
    margin-top: 50px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .comments-form form input {
    width: 100%;
  }
  .comments-form form textarea {
    margin-top: 35px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .blog-post-flex {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: none;
  }
  .blog-post-img-container {
    width: 100%;
  }
  .blog-post-img-container img {
    -webkit-box-shadow: 0 15px 15px #50E3C2;
            box-shadow: 0 15px 15px #50E3C2;
  }
  .blog-right-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .blog-right-container h6 {
    margin: 20px 0 10px 0;
  }
}

@media (max-width: 1200px) {
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-form {
    margin-left: 0;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0;
  }
  .contact-form-right-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 0;
  }
  .contact-form-right-container ul {
    margin-bottom: 20px;
  }
  .contact-form-right-container ul li {
    display: inline-block;
  }
  .contact-form-right-container ul a {
    padding-right: 20px;
  }
}

@media (max-width: 780px) {
  .contact-form form input {
    width: 100%;
  }
  .contact-form form textarea {
    margin-top: 35px;
  }
}

@media (max-width: 650px) {
  .contact-wrapper {
    width: 100%;
  }
  .contact-flex {
    width: 100%;
  }
  .contact-main-header {
    margin-top: 320px;
    margin-left: 100px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .contact-main-header {
    margin: 250px 50px 0;
  }
  .contact-main-header h2 {
    font-size: 1.8rem;
  }
}
